:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

    a:hover {
        color: #535bf2;
    }

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #ffffff;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

    button:hover {
        border-color: #646cff;
    }

    button:focus,
    button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }

.card {
    padding: 2em;
}

#app {
    /* max-width: 1280px;*/
    margin: 0 auto;
    /* padding: 2rem;*/
    text-align: center;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

/*--布局--*/

.flex-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

    .flex-container > * {
        padding: 10px;
    }

.upperlayer {
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}
/*--头部栏--*/
.header {
    width: 100%;
    height: 32px;
    background: #1a1a1a;
    color: #F1F1F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}

    .header .left {
        padding-left: 22px;
        font-size: 18px;
    }

    .header .middle {
        display: flex;
        align-items: center;
        margin: auto;
        font-size: 16px;
    }

    .header .right {
        min-width: 16%;
        display: flex;
        text-align: center;
        padding-right: 22px;
        font-size: 16px;
    }

/*--主界面--*/
.main {
    padding: 0;
    width: calc(100vw - 270px);
    position: fixed;
    top: 52px;
    left: 0;
    display: flex;
    justify-content: center;
}

.textinputbar {
    position: fixed;
}

/*--左侧按钮栏--*/
.left-sidebar {
    height: calc(100vh - 52px);
    min-width: 250px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 40;
    transition: transform 0.3s ease; /* 平移动画效果 */
}

.show {
    transform: translateX(0);
}

.hide {
    transform: translateX(-75%);
}

.left-sidebar .button-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block > .el-button {
    float: left;
}

.left-sidebar .layer-panel {
    flex: 3;
    display: flex;
    flex-direction: column;
    background: #EAEAEA;
    color: #2C2C2C;
    font-size: 14px;
}
.layer-panel .task-tree {
    flex: 1;
    overflow-y: auto;
    border-bottom: 2px solid #D9D9D9;
    padding-bottom: 10px;
}
    .task-tree::-webkit-scrollbar {
        width: 5px;
        height: 6px;
       
    }

    .task-tree::-webkit-scrollbar-track {
        background-color: #EAEAEA;
    }
            .task-tree::-webkit-scrollbar-thumb {
                background-color: #AAAAAA;
                border-radius: 4px;
            }
.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
}
    .custom-tree-node .el-button:focus {
        outline: none;
       
    }

.layer-panel .layer-tree {
    flex: 2;
    overflow-y: auto;
}
/*--底部栏--*/
.footer {
    min-height: 15vh;
    max-height: 30vh;
    height:15vh;
    min-width: 30vw;
    max-width: 80vw;
    font-size: 60px;
    resize: both;
    border: 2px solid #D9D9D9;
    background-color: #ffffff;
    position: fixed;
    bottom: 20px;
    z-index: 30;
    overflow: auto;
}
.preview{
    height:30vh;
    padding-top:0.4em;
}
/*--右侧边栏--*/
.right-sidebar {
    height: calc(100vh - 72px);
    width: 250px;
    position: fixed;
    top: 52px;
    right: 0;
    display: flex;
    flex-flow: column;
    text-align: center;
    background: #EAEAEA;
    color: #2C2C2C;
    font-size: 14px;
    z-index: 30;
}

    .right-sidebar .rsidebar-top {
        flex: 1;
        border-bottom: 2px solid #D9D9D9;
        overflow-y: auto;
    }

    .right-sidebar .rsidebar-bottom {
        flex: 0 1 88px;
    }


.back-edit { /* 编辑态 */
        padding: 5px 10px;
        margin: 0 0 5px;
        box-sizing: border-box;
        box-shadow: 2px 8px 4px -6px hsla(0,0%,0%,.3);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        border: dashed 5px #41403E;
    }

         .back-edit:hover {
            border: dashed 2px #41403E;
        }

  .back-normal { /* 常态 */
        padding: 5px 10px;
        margin: 0 0 5px;
        box-sizing: border-box;
        box-shadow: 2px 8px 4px -6px hsla(0,0%,0%,.3);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        border: solid 5px #41403E;
    }

       .back-normal:hover {
            border: solid 2px #41403E;
        }

