
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/OnlineChineseFontCreator/v17/.wsuo
.vs/OnlineChineseFontCreator/FileContentIndex/d4bb7dd3-d2b6-4168-b5f5-50e364920cd0.vsidx
.vs/OnlineChineseFontCreator/config/applicationhost.config
*.vsidx
/.vs
